In [ ]:
import datapane as dp

# DataTable

::: datapane.DataTable

## Simple DataTable from DataFrame

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame(
    {
        "A": np.random.normal(-1, 1, 5000),
        "B": np.random.normal(1, 2, 5000),
    }
)

dp.DataTable(df)

## Running Queries on DataTable

You can run SQL queries on your datatable if you need more advanced filtering & calculations. In the previous example, if we wanted to show only the rows which had a value A > 0.5, we would write the following (note that `$table` is the builtin table name and cannot be changed):  &#x20;

```sql
SELECT * FROM $table
WHERE A > 0.5
```